<h2>My Anti-Heroes</h2>
<div>
  <label>Hero name:
    <input #antiheroName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(antiheroName.value); antiheroName.value=''">
    add
  </button>
</div>
<ul class="anti-heroes">
  <li *ngFor="let antihero of antiheroes">
    <a routerLink="/detail/{{antihero.id}}">
      <span class="badge">{{antihero.id}}</span> {{antihero.name}}
    </a>
    <button class="delete" title="delete antihero" (click)="delete(antihero)">x</button>
  </li>
</ul>